name: lint
on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
permissions: {}


jobs:
  dummy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Install dda
        uses: DataDog/datadog-agent-dev@00e4a423088309efce1d5ba6b8c5366eef648710 # commit hash from the DataDog/datadog-agent-dev's install branch
        with: 
          version: v0.30.2 # DataDog/datadog-agent-dev version

      - name: Run dummy command
        run: dda dummy